{% extends "extends/html5boilerplate.njk" %}

{% set title = (title + " - " + site.title) if title else (site.title) %}
{% set description = (description) if description else (site.description) %}
{% set lang = lang | default(site.lang) %}

{% block headStyles %}
    {% include "partials/styles.njk" %}
{% endblock %}

{% block headMisc %}
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/icon.png">
{% endblock %}

{% block body %}
    {% include "partials/header.njk" %}

    {{ super() }}

    {{ content | safe }}

    {% include "partials/footer.njk" %}
{% endblock %}

{% block bodyScripts %}
    {% include "partials/scripts.njk" %}
{% endblock %}