---
layout: /layouts/base.njk
---
<div class="page-content">

  <div class="container container__narrow">
    <h1 class="page-title">{{ title }}</h1>
  </div>

  {% if image %}
    <div class="page-image-container">
      <div class="container container__narrow">
        {% srcset image, image_alt, "post__image", 640, 360, "(min-width: 1120px) 1120px, 100vw" %}
      </div>
    </div>
  {% endif %}

  <div class="page-body container container__narrow">
    {{ content | safe }}

    {% if ideas_link %}
      <a href="{{ ideas_link }}" class="button button__large type-2 ideas-link" target="_blank">Add your idea to our planning document</a>
    {% endif %}
  </div>


  <div class="page-comments container container__narrow">
    <div id="commento"></div>
    <script src="https://commento.letsdance.agency/js/commento.js"></script>
  </div>

</div>