---
layout: /layouts/base.njk
---
<section class="section__archive">

  <header class="section-header section-header__tag">
    <div class="container">
      <div class="section-header--text">
        <p class="pre-title">Our top tips</p>
        <h2 class="page-title">{{ title }}</h2>
        {% if content %}
          <div class="section-intro">{{ content | safe }}</div>
        {% else %}
          <div class="section-intro">{{ intro | safe }}</div>
        {% endif %}
      </div>
      <div class="section-header--image">
        <img src="{{ icon }}" class="section-header--icon">
        {% srcset image, "", "main-image", 400, 300, "(min-width: 1120px) 560px, 80vw" %}
      </div>

    </div>
  </header>

  <div class="container">
    <div class="archive--wrapper">
      {% for item in collections[slug] | reverse %}
        <div class="archive__article">
          <a href="{{item.url}}" class="archive__image">
            {% srcset item.data.image, item.data.image_alt, null, 300, 300, "(min-width: 1120px) 300px, 25vw" %}
          </a>
          <div class="archive__text">
            <h3 class="archive__title">{{ item.data.title }}</h3>
            <p>{{ item.templateContent | striptags | truncate(85) | safe }}</p>
            <a class="read-more" href="{{ item.url }}">Read more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>