.funders--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
}

.funders--item {
  text-align: center;
  margin: $small-spacing;
  box-shadow: 0 3rem 3rem -1.5rem rgba(0,0,0,.06)!important;
  border: 1px solid $gray;
  padding: $small-spacing $small-spacing $base-spacing;
  background-color: #fff;
  flex: 1 1 40%;
  @media screen and (min-width: $large-screen) {
    flex: 1 1 25%;
  }

  .funders--item--image {
    margin: 0;
  }

  .funders--item--title {
    margin-top: $base-spacing;
    margin-bottom: 0;
  }
}