.section__home-tips {
  padding: 4 * $base-spacing 0;
  .container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $medium-screen) {
      flex-direction: row;
    }
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-title {
    flex: 0 0 100%;
  }
}

.home-tips__article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5 * $base-spacing 0;
  @media screen and (min-width: $medium-screen) {
    flex: 0 0 calc(33.33% - #{2 * $base-spacing});
    flex-direction: column;
    margin: 0;
  }
  &:nth-child(3) .home-tips__title::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="241.6" height="8" viewBox="0 0 241.6 8"><path d="M234.6 3c-20.2.6-41.4-.6-61.7-1l-56.7-.9C79 .7 41.9.4 4.7 0c-7.2-.1-5.5 4.8.8 4.9 38.7.4 77.4.7 116.1 1.2l58.9.9c19.2.3 38.5 1.4 57.6.8 6.4-.1 3.2-5-3.5-4.8z"/></svg>');
  }
  &:nth-child(4) .home-tips__title::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="270.6" height="10.7" viewBox="0 0 270.6 10.7"><path d="M4.2 6.2c22.9-2.6 45.7.7 68.6.7 22.7 0 45.2 1.2 67.9 1 21.4-.2 42.5 3.8 63.9 2.7 19.2-1 38.2-2.4 57.4-2.3 2.1 0 12.7-4.9 6.9-5.3-2-.2-4-.3-6-.5-2.5-.2-13.9 4.8-8.2 5.3 2 .2 4 .3 6 .5 2.3-1.8 4.6-3.5 6.9-5.3-19.2-.2-38.2 1.3-57.4 2.3-22.6 1.1-45.2-2.9-67.8-2.6-22.6.2-45.1-.9-67.7-1-22.7-.1-45.1-3-67.9-.4C2 1.6-4.3 7.1 4.2 6.2z"/></svg>');
  }

}

.home-tips__image {
  flex: 0 0 30%;
  margin-right: $base-spacing;
  @media screen and (min-width: $medium-screen) {
    margin-bottom: $base-spacing;
    margin-right: 0;
  }
}

.home-tips__text {
  @media screen and (min-width: $medium-screen) {
    display: flex;
    flex-direction: column;
    flex: 1;
    .button {
      margin-top: auto;
      margin-right: auto;
    }
  }
}

.home-tips__title {
  font-size: modular-scale(2);
  font-family: $base-font-family;
  text-transform: none;
  // &::after {
  //   display: block;
  //   content: '';
  //   max-width: 10em;
  //   height: $base-spacing;
  //   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="283.4" height="13.8" viewBox="0 0 283.4 13.8"><path d="M4.4 13.6c23.9-3.4 47.9-1 71.9-1.9 23.7-.9 47.5-.5 71.2-1.6 22.4-1 44.7 2.1 67.1.2 20.1-1.7 40-3.9 60-4.5 2.2-.1 13.1-5.3 7-5.6-2.1-.1-4.2-.2-6.3-.2-2.6-.1-14.3 5.4-8.3 5.6 2.1.1 4.2.2 6.3.2 2.3-1.9 4.7-3.7 7-5.6-20.1.6-40 2.8-60 4.5-23.7 2-47.5-1.1-71.2 0-23.6 1.1-47.3.8-71 1.6C54.3 7 30.7 5 7 8.4c-5 .7-11.4 6.5-2.6 5.2z"/></svg>');
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
}


