.section__home-hero {
  height: 100vh;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    padding: 2 * $base-spacing;
  }
}

.home-hero__zero {
  position: absolute;
  top: 50%;
  height: 80%;
  max-width: 80%;
  left: 50%;
  width: auto;
  transform: translate(-50%,-50%);
}

.home-hero__title {
  opacity: 0;
  html.no-js &,
  html.ready & {
    opacity: 1;
  }
  position: relative;
  z-index: 9;
  font-family: $base-font-family;
  letter-spacing: 0;
  font-size: modular-scale(3);
  text-align: center;
  max-width: 24em;
  padding: $base-spacing 0;
  margin: 0 (-$base-spacing);

  @media screen and (min-width: $medium-screen) {
    padding: $base-spacing;
    margin: 0;
    font-size: modular-scale(3);
  }
  @extend .ticker;
  text-transform: lowercase;

  span {
    opacity: 0;
  }
  .line {
    color: $black;
    animation: fadeInHeroLine 3s 0.5s forwards;
    text-align: center;
    text-transform: lowercase;
    padding: $small-spacing/2 $base-spacing;
    margin: $small-spacing/2 (-$base-spacing) 0;
    background-color: white;
    clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
    &:nth-child(2) {
      animation-delay: 2s;
      clip-path: polygon(4% 1%, 96% 5%, 95% 100%, 0% 90%);
    }
    &:nth-child(3) {
      animation-delay: 3s;
      clip-path: polygon(4% 5%, 98% 2%, 100% 90%, 0% 95%);
    }
  }
}

@keyframes fadeInHeroLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// @keyframes fadeInHeroWord {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.home-hero__zero path {
  stroke: #f7b6cf;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 3700px;
  stroke-dashoffset: 3700px;
  animation-name: draw;
  animation-duration: 1s;
  animation-delay: 2.75s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.460, 0.000, 0.750, 0.750);
  opacity: 0;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}