html {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: 0.75em;
  letter-spacing: $base-letter-spacing;
  @media screen and (min-width: $medium-screen) {
    font-size: 0.875em;
  }
  @media screen and (min-width: $large-screen) {
    font-size: 1em;
  }
  @media screen and (min-width: $xl-screen) {
    font-size: 1.125em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  text-transform: uppercase;
  font-weight: 900;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  letter-spacing: $heading-letter-spacing;
}

.pre-title {
  font-weight: 900;
  font-size: modular-scale(1);
}

.section-title {
  text-align: center;
  margin-bottom: 2 * $base-spacing;
  font-size: modular-scale(5);
  @extend %container;
  &__large {
    font-size: modular-scale(7);
  }
}

.section-subtitle {
  text-align: center;
  font-weight: 900;
  @extend %container;
  font-size: modular-scale(2);
  margin-top: -2 * $base-spacing;
  margin-bottom: 2 * $base-spacing;
}

%pretty_links {
  a {
    transition: border-bottom $base-duration $base-timing, color $base-duration $base-timing;
    border-bottom: .2em solid transparentize($action-color, 0.75);
    &:hover {
      border-bottom-color: $action-color;
    }
  }
}

p {
  margin: 0 0 $small-spacing;
  font-weight: 600;
  strong {
    font-weight: 900;
  }

  @extend %pretty_links
}

a {
  color: inherit;
  text-decoration-skip-ink: auto;
  text-decoration: none;

  &:hover {
    color: $action-color;
    .read-more {
      color: $action-color;
    }
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

.read-more {
  font-weight: 700;
  color: $black;
  text-decoration: none;
  border-bottom: none;
  font-size: modular-scale(-1);
  transition: color $base-duration $base-timing;
  -webkit-font-smoothing: antialiased;

  &::after {
    display: inline-block;
    font-weight: 900;
    margin-left: .25em;
    content: '>';
    font-family: $heading-font-family;
  }
}


blockquote {
  color: $blue;
  text-align: center;
  margin: 2 * $base-spacing auto;
  max-width: $medium-screen * .75;
  line-height: $heading-line-height;
  font-size: modular-scale(1);
  font-style: oblique;
  * {
    display: inline;
  }
  &::before, &::after {
    content: open-quote;
    display: inline;
    font-size: modular-scale(3);
    line-height: 0;
    vertical-align: middle;
    font-style: normal;
  }
  &::after {
    content: close-quote;
  }
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
  height: $base-spacing;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="283.4" height="13.8" viewBox="0 0 283.4 13.8"><path d="M4.4 13.6c23.9-3.4 47.9-1 71.9-1.9 23.7-.9 47.5-.5 71.2-1.6 22.4-1 44.7 2.1 67.1.2 20.1-1.7 40-3.9 60-4.5 2.2-.1 13.1-5.3 7-5.6-2.1-.1-4.2-.2-6.3-.2-2.6-.1-14.3 5.4-8.3 5.6 2.1.1 4.2.2 6.3.2 2.3-1.9 4.7-3.7 7-5.6-20.1.6-40 2.8-60 4.5-23.7 2-47.5-1.1-71.2 0-23.6 1.1-47.3.8-71 1.6C54.3 7 30.7 5 7 8.4c-5 .7-11.4 6.5-2.6 5.2z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

%ticker, .ticker {
  text-transform: uppercase;
  .line {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      background-color: $black;
      top: -$small-spacing/2;
      bottom: -$small-spacing/2;
      left: -$small-spacing;
      right: -$small-spacing;
      clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
    }
    .type-2 & {
      &::before {
        clip-path: polygon(3% 1%, 98% 5%, 95% 100%, 2% 98%);
      }
    }
    color: white;
    -webkit-font-smoothing: antialiased;
    display: inline-block !important;
    width: initial !important;
    margin: 0 0 $small-spacing;
  }
}
