/* stylelint-disable order/properties-alphabetical-order */

/* stylelint-enable */

@font-face {
  font-family: "Acumin";
  src: url("/assets/fonts/acumin.woff2") format("woff2"), url("/assets/fonts/acumin.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Grilled Cheese";
  src: url("/assets/fonts/grilledcheese.woff2") format("woff2"), url("/assets/fonts/grilledcheese.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Mindset";
  src: url("/assets/fonts/mindset.woff2") format("woff2"), url("/assets/fonts/mindset.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/barlow-medium.woff2") format("woff2"), url("/assets/fonts/barlow-medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Mukta";
  src: url("/assets/fonts/mukta-medium.woff2") format("woff2"), url("/assets/fonts/mukta-medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem;
}

input,
select,
textarea {
  display: block;
  font-family: "Mukta";
  font-size: 16px;
}

[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #D3DBDC;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color 150ms ease;
  width: 100%;
}

[type=color]:hover,
[type=date]:hover,
[type=datetime]:hover,
[type=datetime-local]:hover,
[type=email]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
input:not([type]):hover,
textarea:hover {
  border-color: #a9afb0;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
input:not([type]):focus,
textarea:focus {
  border-color: #42747e;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(66, 116, 126, 0.7);
  outline: none;
}

[type=color]:disabled,
[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=email]:disabled,
[type=month]:disabled,
[type=number]:disabled,
[type=password]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=text]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=week]:disabled,
input:not([type]):disabled,
textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type=color]:disabled:hover,
[type=date]:disabled:hover,
[type=datetime]:disabled:hover,
[type=datetime-local]:disabled:hover,
[type=email]:disabled:hover,
[type=month]:disabled:hover,
[type=number]:disabled:hover,
[type=password]:disabled:hover,
[type=search]:disabled:hover,
[type=tel]:disabled:hover,
[type=text]:disabled:hover,
[type=time]:disabled:hover,
[type=url]:disabled:hover,
[type=week]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: 1px solid #D3DBDC;
}

[type=color]::-webkit-input-placeholder,
[type=date]::-webkit-input-placeholder,
[type=datetime]::-webkit-input-placeholder,
[type=datetime-local]::-webkit-input-placeholder,
[type=email]::-webkit-input-placeholder,
[type=month]::-webkit-input-placeholder,
[type=number]::-webkit-input-placeholder,
[type=password]::-webkit-input-placeholder,
[type=search]::-webkit-input-placeholder,
[type=tel]::-webkit-input-placeholder,
[type=text]::-webkit-input-placeholder,
[type=time]::-webkit-input-placeholder,
[type=url]::-webkit-input-placeholder,
[type=week]::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666666;
}

[type=color]::-moz-placeholder,
[type=date]::-moz-placeholder,
[type=datetime]::-moz-placeholder,
[type=datetime-local]::-moz-placeholder,
[type=email]::-moz-placeholder,
[type=month]::-moz-placeholder,
[type=number]::-moz-placeholder,
[type=password]::-moz-placeholder,
[type=search]::-moz-placeholder,
[type=tel]::-moz-placeholder,
[type=text]::-moz-placeholder,
[type=time]::-moz-placeholder,
[type=url]::-moz-placeholder,
[type=week]::-moz-placeholder,
input:not([type])::-moz-placeholder,
textarea::-moz-placeholder {
  color: #666666;
}

[type=color]:-ms-input-placeholder,
[type=date]:-ms-input-placeholder,
[type=datetime]:-ms-input-placeholder,
[type=datetime-local]:-ms-input-placeholder,
[type=email]:-ms-input-placeholder,
[type=month]:-ms-input-placeholder,
[type=number]:-ms-input-placeholder,
[type=password]:-ms-input-placeholder,
[type=search]:-ms-input-placeholder,
[type=tel]:-ms-input-placeholder,
[type=text]:-ms-input-placeholder,
[type=time]:-ms-input-placeholder,
[type=url]:-ms-input-placeholder,
[type=week]:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #666666;
}

[type=color]::-ms-input-placeholder,
[type=date]::-ms-input-placeholder,
[type=datetime]::-ms-input-placeholder,
[type=datetime-local]::-ms-input-placeholder,
[type=email]::-ms-input-placeholder,
[type=month]::-ms-input-placeholder,
[type=number]::-ms-input-placeholder,
[type=password]::-ms-input-placeholder,
[type=search]::-ms-input-placeholder,
[type=tel]::-ms-input-placeholder,
[type=text]::-ms-input-placeholder,
[type=time]::-ms-input-placeholder,
[type=url]::-ms-input-placeholder,
[type=week]::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #666666;
}

[type=color]::placeholder,
[type=date]::placeholder,
[type=datetime]::placeholder,
[type=datetime-local]::placeholder,
[type=email]::placeholder,
[type=month]::placeholder,
[type=number]::placeholder,
[type=password]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=text]::placeholder,
[type=time]::placeholder,
[type=url]::placeholder,
[type=week]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #666666;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: 0.375rem;
}

[type=file] {
  margin-bottom: 0.75rem;
  width: 100%;
}

select {
  margin-bottom: 0.75rem;
  width: 100%;
}

[type=checkbox]:focus,
[type=radio]:focus,
[type=file]:focus,
select:focus {
  outline: 3px solid rgba(66, 116, 126, 0.6);
  outline-offset: 2px;
}

html {
  background-color: #fff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.section-subtitle,
.section-title,
.container {
  padding: 0 1.5rem;
  max-width: 1120px;
  margin: 0 auto;
}

.container__wide {
  max-width: none;
}

.container__narrow {
  max-width: 720px;
}

.align-center {
  text-align: center;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 1.5rem 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

img + figcaption {
  background-color: #D3DBDC;
  padding: 0.375rem 1.5rem;
  text-align: center;
}

figure img {
  margin-bottom: 0 !important;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.1;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #D3DBDC;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75rem 0.75rem 0.75rem 0;
}

html {
  color: #000000;
  font-family: "Mukta";
  line-height: 1.5;
  font-size: 0.75em;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 0.875em;
  }
}

@media screen and (min-width: 1120px) {
  html {
    font-size: 1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Grilled Cheese", "Mukta";
  font-size: 1.25em;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0 0 0.75rem;
  letter-spacing: 0.025em;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.0517578125em;
}

.section-subtitle {
  text-align: center;
  font-size: 1.5625em;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

p {
  margin: 0 0 0.75rem;
}

a {
  color: #42747e;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: color 150ms ease;
}

a:hover {
  color: #32575f;
}

a:focus {
  outline: 3px solid rgba(66, 116, 126, 0.6);
  outline-offset: 2px;
}

blockquote {
  color: #42747e;
  font-family: "Grilled Cheese", "Mukta";
  text-transform: uppercase;
  text-align: center;
  margin: 3rem auto;
  max-width: 540px;
  line-height: 1.1;
  font-size: 1.5625em;
}

blockquote * {
  display: inline;
}

blockquote::before,
blockquote::after {
  content: open-quote;
  display: inline;
  font-size: 1.953125em;
}

blockquote::after {
  content: close-quote;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0;
  height: 1.5rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="283.4" height="13.8" viewBox="0 0 283.4 13.8"><path d="M4.4 13.6c23.9-3.4 47.9-1 71.9-1.9 23.7-.9 47.5-.5 71.2-1.6 22.4-1 44.7 2.1 67.1.2 20.1-1.7 40-3.9 60-4.5 2.2-.1 13.1-5.3 7-5.6-2.1-.1-4.2-.2-6.3-.2-2.6-.1-14.3 5.4-8.3 5.6 2.1.1 4.2.2 6.3.2 2.3-1.9 4.7-3.7 7-5.6-20.1.6-40 2.8-60 4.5-23.7 2-47.5-1.1-71.2 0-23.6 1.1-47.3.8-71 1.6C54.3 7 30.7 5 7 8.4c-5 .7-11.4 6.5-2.6 5.2z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ticker .line,
.project__title .line,
.home-hero__title .line {
  -webkit-clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
          clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
  text-transform: uppercase;
  background-color: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  display: inline-block !important;
  width: initial !important;
  padding: 0.375rem 0.75rem;
  margin: 0 0 0.1875rem;
}

.type-2 .ticker .line,
.type-2 .project__title .line,
.type-2 .home-hero__title .line {
  -webkit-clip-path: polygon(3% 1%, 98% 5%, 95% 100%, 2% 98%);
          clip-path: polygon(3% 1%, 98% 5%, 95% 100%, 2% 98%);
}

button,
.button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
          clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #000000;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Mukta";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button.type-2,
.button.type-2,
[type=button].type-2,
[type=reset].type-2,
[type=submit].type-2 {
  -webkit-clip-path: polygon(2% 1%, 98% 2%, 99% 95%, 0% 92%);
          clip-path: polygon(2% 1%, 98% 2%, 99% 95%, 0% 92%);
}

button.type-3,
.button.type-3,
[type=button].type-3,
[type=reset].type-3,
[type=submit].type-3 {
  -webkit-clip-path: polygon(4% 8%, 97% 0%, 100% 95%, 2% 98%);
          clip-path: polygon(4% 8%, 97% 0%, 100% 95%, 2% 98%);
}

button.type-4,
.button.type-4,
[type=button].type-4,
[type=reset].type-4,
[type=submit].type-4 {
  -webkit-clip-path: polygon(1% 1%, 92% 1%, 98% 97%, 2% 100%);
          clip-path: polygon(1% 1%, 92% 1%, 98% 97%, 2% 100%);
}

button.type-5,
.button.type-5,
[type=button].type-5,
[type=reset].type-5,
[type=submit].type-5 {
  -webkit-clip-path: polygon(3% 5%, 99% 2%, 95% 95%, 5% 95%);
          clip-path: polygon(3% 5%, 99% 2%, 95% 95%, 5% 95%);
}

button:hover,
.button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
  background-color: #355d65;
  color: #fff;
}

button:focus,
.button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
  outline: 3px solid rgba(66, 116, 126, 0.6);
  outline-offset: 2px;
}

button:disabled,
.button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
.button:disabled:hover,
[type=button]:disabled:hover,
[type=reset]:disabled:hover,
[type=submit]:disabled:hover {
  background-color: #42747e;
}

.button__large {
  font-size: 1.25em;
  font-family: "Grilled Cheese", "Mukta";
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
}

.button__inverted {
  background-color: white;
  color: #000000;
}

.button__read-more {
  margin: 3rem auto 0;
}

.site-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.site-header svg path {
  fill: #000000;
}

body.index .site-header {
  position: absolute;
  width: 100%;
  left: 0;
}

body.index .site-header svg path {
  fill: white;
}

.site-header .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.site-header .social-accounts {
  display: flex;
  flex-direction: row;
}

.site-header .social-accounts li {
  margin-right: 0.75rem;
}

.site-header .social-accounts svg {
  width: 2.625rem;
  height: 2.625rem;
  display: inline-block;
}

.section__home-hero {
  height: 100vh;
  background-color: #42747e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__home-hero .container {
  padding: 3rem;
}

.home-hero__zero {
  position: absolute;
  top: 50%;
  height: 80%;
  max-width: 80%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
}

.home-hero__title {
  opacity: 0;
  position: relative;
  z-index: 9;
  font-family: "Mukta";
  letter-spacing: 0;
  font-size: 1.953125em;
  text-align: center;
  max-width: 24em;
  padding: 1.5rem 0;
  margin: 0 -1.5rem;
  text-transform: lowercase;
}

html.no-js .home-hero__title,
html.ready .home-hero__title {
  opacity: 1;
}

@media screen and (min-width: 720px) {
  .home-hero__title {
    padding: 1.5rem;
    margin: 0;
    font-size: 1.953125em;
  }
}

.home-hero__title span {
  opacity: 0;
}

.home-hero__title .line {
  color: #000000;
  -webkit-animation: fadeInHeroLine 3s 0.5s forwards;
          animation: fadeInHeroLine 3s 0.5s forwards;
  text-align: center;
  text-transform: lowercase;
  padding: 0.375rem 1.5rem;
  margin: 0.375rem -1.5rem 0;
  background-color: white;
  -webkit-clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
          clip-path: polygon(1% 6%, 97% 0%, 100% 100%, 1% 92%);
}

.home-hero__title .line:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-clip-path: polygon(4% 1%, 96% 5%, 95% 100%, 0% 90%);
          clip-path: polygon(4% 1%, 96% 5%, 95% 100%, 0% 90%);
}

.home-hero__title .line:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-clip-path: polygon(4% 5%, 98% 2%, 100% 90%, 0% 95%);
          clip-path: polygon(4% 5%, 98% 2%, 100% 90%, 0% 95%);
}

@-webkit-keyframes fadeInHeroLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInHeroLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-hero__zero path {
  stroke: #f7b6cf;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 3700px;
  stroke-dashoffset: 3700px;
  -webkit-animation-name: draw;
          animation-name: draw;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.46, 0, 0.75, 0.75);
          animation-timing-function: cubic-bezier(0.46, 0, 0.75, 0.75);
  opacity: 0;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.section__home-intro {
  padding: 9rem 0;
}

.section__home-intro .container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .section__home-intro .container {
    align-items: center;
    flex-direction: row;
  }
}

.intro__title {
  font-size: 3.0517578125em;
}

.intro__copy {
  flex: 0 0 37%;
  margin-right: 13%;
}

.intro__copy p:last-child {
  margin-bottom: 0;
}

.intro__projects {
  margin-top: 3.75rem;
}

@media screen and (min-width: 720px) {
  .intro__projects {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
}

.project__title {
  font-size: 2.44140625em;
  margin-bottom: 1.5rem;
}

.project__title .line {
  background-color: #42747e;
}

.project__description {
  margin-bottom: 1.5rem;
}

.intro__project + .intro__project {
  margin-top: 3rem;
}

@media screen and (min-width: 720px) {
  .intro__project + .intro__project {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

.section__home-tips {
  padding: 6rem 0;
}

.section__home-tips .section-title,
.section__home-tips .section-subtitle {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .section__home-tips .section-title,
  .section__home-tips .section-subtitle {
    text-align: left;
  }
}

.section__home-tips .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 720px) {
  .section__home-tips .container {
    flex-direction: row;
  }
}

.home-tips__article {
  display: flex;
  flex-direction: row;
  margin: 2.25rem 0 0;
}

@media screen and (min-width: 720px) {
  .home-tips__article {
    align-items: center;
    flex: 0 0 calc(33.33% - 3rem);
    flex-direction: column;
    margin: 0;
  }
}

.home-tips__article:nth-child(3) .home-tips__title::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="241.6" height="8" viewBox="0 0 241.6 8"><path d="M234.6 3c-20.2.6-41.4-.6-61.7-1l-56.7-.9C79 .7 41.9.4 4.7 0c-7.2-.1-5.5 4.8.8 4.9 38.7.4 77.4.7 116.1 1.2l58.9.9c19.2.3 38.5 1.4 57.6.8 6.4-.1 3.2-5-3.5-4.8z"/></svg>');
}

.home-tips__article:nth-child(4) .home-tips__title::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="270.6" height="10.7" viewBox="0 0 270.6 10.7"><path d="M4.2 6.2c22.9-2.6 45.7.7 68.6.7 22.7 0 45.2 1.2 67.9 1 21.4-.2 42.5 3.8 63.9 2.7 19.2-1 38.2-2.4 57.4-2.3 2.1 0 12.7-4.9 6.9-5.3-2-.2-4-.3-6-.5-2.5-.2-13.9 4.8-8.2 5.3 2 .2 4 .3 6 .5 2.3-1.8 4.6-3.5 6.9-5.3-19.2-.2-38.2 1.3-57.4 2.3-22.6 1.1-45.2-2.9-67.8-2.6-22.6.2-45.1-.9-67.7-1-22.7-.1-45.1-3-67.9-.4C2 1.6-4.3 7.1 4.2 6.2z"/></svg>');
}

.home-tips__image {
  flex: 0 0 30%;
  margin-right: 1.5rem;
}

.home-tips__image img {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .home-tips__image {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}

@media screen and (min-width: 720px) {
  .home-tips__text {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .home-tips__text .button {
    margin-top: auto;
    margin-right: auto;
  }
}

.home-tips__title {
  font-size: 1.5625em;
  font-family: "Mukta";
  letter-spacing: 0;
  text-transform: none;
}

.section__home-pipeline {
  padding: 6rem 0;
  background-color: #D3DBDC;
}

.section__home-pipeline .container {
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
  .section__home-pipeline .container {
    flex-direction: row;
  }
}

.section__home-pipeline .section-title,
.section__home-pipeline .section-subtitle {
  text-align: left;
  flex: 0 0 100%;
}

.pipeline__sidebar {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .pipeline__sidebar {
    flex-direction: row;
    flex: 0 0 33.3%;
  }
}

.pipeline__sidebar .pipeline__title {
  letter-spacing: 0;
}

.pipeline__sidebar .pipeline__image {
  display: none;
}

@media screen and (min-width: 720px) {
  .pipeline__sidebar .pipeline__image {
    display: block;
  }
}

.pipeline__item {
  margin-bottom: 3rem;
  flex: 0 1 33.33%;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 720px) {
  .pipeline__item {
    margin-bottom: 0;
    flex-direction: column;
  }
}

.pipeline__item.disabled {
  opacity: 0.5;
}

@media screen and (min-width: 720px) {
  .pipeline__item + .pipeline__item {
    margin-left: 4.5rem;
  }
}

.pipeline__item .pipeline__footer {
  display: flex;
  margin-top: auto;
}

.pipeline__item--suggest {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  order: 99;
  background-color: #fff;
  -webkit-clip-path: polygon(1% 1%, 98% 2%, 99% 95%, 0% 92%);
          clip-path: polygon(1% 1%, 98% 2%, 99% 95%, 0% 92%);
  padding: 2.25rem 1.5rem;
}

@media screen and (min-width: 720px) {
  .pipeline__item--suggest {
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
    padding: 0;
    order: initial;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.pipeline__item--suggest .pipeline__text {
  width: 80%;
  margin: 0 auto;
}

.pipeline__item--suggest .pipeline__title {
  font-size: 1.953125em;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  font-family: "Grilled Cheese", "Mukta";
}

@media screen and (min-width: 720px) {
  .pipeline__item--suggest .pipeline__title {
    font-size: 2.44140625em;
  }
}

.pipeline__item--suggest p {
  margin-bottom: 0;
}

.pipeline__item--suggest .pipeline__icon {
  margin-right: 0;
  flex: 0 0 calc(33% + 1.5rem);
}

@media screen and (min-width: 720px) {
  .pipeline__item--suggest .pipeline__icon {
    margin-bottom: 1.5rem;
    flex: 0 0 33%;
  }
}

.pipeline__item--suggest svg {
  display: block;
  width: 100%;
  height: auto;
}

.pipeline__item--featured {
  position: relative;
  margin-bottom: 3rem;
  display: block;
}

@media screen and (min-width: 720px) {
  .pipeline__item--featured {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
  }

  .pipeline__item--featured::before,
  .pipeline__item--featured::after {
    position: absolute;
    display: block;
    content: "";
    height: 0.375rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pipeline__item--featured::before {
    top: -1.5rem;
    right: 0;
    width: 28%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="182.4" height="10.3" viewBox="0 0 182.4 10.3"><path d="M3.2 10.2c29.3-4 58.6-3.3 87.9-3.3 28.4 0 56.9 0 85.3 1 2.9.1 9.5-6.6 3.7-6.9-29.4-1-58.8-1-88.2-1-29 0-58.1-.4-87.1 3.5-4 .6-7.6 7.5-1.6 6.7z"/></svg>');
  }
}

@media screen and (min-width: 720px) and (min-width: 720px) {
  .pipeline__item--featured::before {
    top: -1.5rem;
  }
}

@media screen and (min-width: 720px) {
  .pipeline__item--featured::after {
    width: 62%;
    right: 0;
    bottom: -2.25rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="495.4" height="9.4" viewBox="0 0 495.4 9.4"><path d="M7.7 5.9c41.7-2.5 83.8.5 125.8.4 41.5-.1 83 1 124.4.7 39.1-.3 78.3 3.4 117.3 2.3 35-1 69.8-2.4 104.9-2.3 3.8 0 22.7-4.6 12-5-3.7-.1-7.4-.3-11.1-.4-4.6-.2-24.9 4.6-14.4 5 3.7.1 7.4.3 11.1.4 4-1.7 8-3.3 12-5-35.1-.3-69.7 1.2-104.8 2.2-41.3 1.2-83-2.5-124.5-2.2-41.3.3-82.7-.7-124.1-.7C94.7 1.2 53.5-1.4 12 1.1c-8.7.5-19.7 5.7-4.3 4.8z"/></svg>');
  }
}

.pipeline__item--featured .button {
  font-size: 1.25em;
  padding: 0.75rem 1.5rem;
}

@media screen and (min-width: 720px) {
  .pipeline__item--featured .button {
    margin-top: 0.75rem;
    margin-right: auto;
  }
}

.pipeline__item--featured .pipeline__title {
  font-size: 1.953125em;
  font-family: "Grilled Cheese", "Mukta";
  text-transform: uppercase;
}

.pipeline__item--featured .pipeline__text {
  flex: 1 1 auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1.5rem 0 0;
  position: relative;
}

@media screen and (min-width: 720px) {
  .pipeline__item--featured .pipeline__text {
    padding: 1.5rem;
  }
}

.pipeline__item--featured .pipeline__image {
  flex: 0 0 calc(66.66% - 1.5rem);
  position: relative;
  margin-right: 0;
  margin-bottom: 0;
}

.pipeline__item--featured .pipeline__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .pipeline__text {
    display: flex;
    flex: 0 1 70%;
    flex-direction: column;
  }
}

.pipeline__image {
  margin-right: 1.5rem;
  flex: 0 0 30%;
}

@media screen and (min-width: 720px) {
  .pipeline__image {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.pipeline__image img {
  width: 100%;
  height: auto;
}

.pipeline__title {
  font-size: 1.953125em;
  margin-bottom: 1.5rem;
  font-family: "Mukta";
  text-transform: none;
}

@media screen and (min-width: 720px) {
  .pipeline__title {
    font-size: 1.5625em;
  }
}

.pipeline__item__count {
  display: none;
  float: right;
  font-family: "Grilled Cheese", "Mukta";
  font-size: 2.44140625em;
  line-height: 1.5rem;
}

.section__home-hire {
  padding: 3rem 0 6rem;
  background-color: #f89d33;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .section__home-hire {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 720px) {
  .section__home-hire {
    text-align: left;
  }
}

.section__home-hire svg {
  flex: 0 0 33%;
  max-width: 15em;
  align-self: flex-start;
}

@media screen and (min-width: 720px) {
  .section__home-hire svg {
    max-width: 20em;
  }
}

.section__home-hire .container {
  max-width: 896px;
}

@media screen and (min-width: 720px) {
  .section__home-hire .container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.section__home-hire .section-title {
  padding: 0;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 720px) {
  .section__home-hire .section-title {
    text-align: left;
  }
}

.section__home-hire p {
  max-width: 30em;
  display: none;
}

@media screen and (min-width: 720px) {
  .section__home-hire p {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .hire__text {
    margin-left: 3rem;
  }
}

.hire__text .section-title {
  margin-bottom: 1.5rem;
}

.hire__text .button {
  margin-top: 1.5rem;
}

.section__home-thinking {
  padding: 6rem 0;
}

.section__home-thinking .section-title,
.section__home-thinking .section-subtitle {
  text-align: center;
}

@media screen and (min-width: 720px) {
  .section__home-thinking .section-title,
  .section__home-thinking .section-subtitle {
    text-align: left;
  }
}

.section__home-thinking .container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .section__home-thinking .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.thinking__featured-item {
  flex: 0 0 50%;
  margin-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .thinking__featured-item {
    margin-bottom: 0;
  }
}

.thinking__featured-item .thinking__item__image {
  margin-bottom: 0.75rem;
}

.thinking__featured-item .thinking__item__image img {
  width: 100%;
}

.thinking__featured-item .thinking__item__title {
  font-size: 1.953125em;
}

.thinking__featured-item .thinking__item__title::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="270.6" height="10.7" viewBox="0 0 270.6 10.7"><path d="M4.2 6.2c22.9-2.6 45.7.7 68.6.7 22.7 0 45.2 1.2 67.9 1 21.4-.2 42.5 3.8 63.9 2.7 19.2-1 38.2-2.4 57.4-2.3 2.1 0 12.7-4.9 6.9-5.3-2-.2-4-.3-6-.5-2.5-.2-13.9 4.8-8.2 5.3 2 .2 4 .3 6 .5 2.3-1.8 4.6-3.5 6.9-5.3-19.2-.2-38.2 1.3-57.4 2.3-22.6 1.1-45.2-2.9-67.8-2.6-22.6.2-45.1-.9-67.7-1-22.7-.1-45.1-3-67.9-.4C2 1.6-4.3 7.1 4.2 6.2z"/></svg>');
  content: "";
  display: block;
  width: 50%;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.thinking__featured-item .button {
  font-size: 1.25em;
  padding: 0.75rem 1.5rem;
}

.thinking__sidebar {
  flex: 0 0 40%;
}

.thinking__sidebar .thinking__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

@media screen and (min-width: 720px) {
  .thinking__sidebar .thinking__item {
    margin-bottom: 2.25rem;
  }
}

.thinking__sidebar .thinking__item__image {
  display: none;
}

@media screen and (min-width: 720px) {
  .thinking__sidebar .thinking__item__image {
    display: block;
    flex: 0 0 40%;
  }
}

.thinking__sidebar .thinking__item__text {
  flex: 1 0 60%;
}

@media screen and (min-width: 720px) {
  .thinking__sidebar .thinking__item__text {
    padding-left: 1.5rem;
  }
}

.thinking__sidebar .thinking__item__title {
  font-family: "Mukta";
  letter-spacing: 0;
  text-transform: none;
  font-size: 1.953125em;
}

@media screen and (min-width: 720px) {
  .thinking__sidebar .thinking__item__title {
    font-size: 1.5625em;
  }
}

.section__home-join {
  padding: 6rem 0 1.5rem;
  background-color: #000000;
  color: white;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .section__home-join {
    text-align: left;
  }
}

.section__home-join svg {
  flex: 0 0 33%;
  max-width: 15em;
}

@media screen and (min-width: 720px) {
  .section__home-join svg {
    max-width: 20em;
  }
}

.section__home-join .footer--primary {
  max-width: 896px;
}

@media screen and (min-width: 720px) {
  .section__home-join .footer--primary {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.section__home-join .section-title {
  margin-bottom: 1.5rem;
  padding: 0;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 720px) {
  .section__home-join .section-title {
    text-align: left;
  }
}

.section__home-join .button {
  background-color: #fff;
  color: #000000;
}

.section__home-join p {
  max-width: 30em;
  display: none;
}

@media screen and (min-width: 720px) {
  .section__home-join p {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .join__text {
    margin-left: 1.5rem;
  }
}

.join__form {
  display: flex;
  flex-direction: row;
  max-width: 22.5em;
  margin: 3rem auto 0;
}

@media screen and (min-width: 720px) {
  .join__form {
    margin: 1.5rem 0 0;
  }
}

.join__form input {
  margin-bottom: 0;
}

.join__form input + input {
  margin-left: 0.75rem;
}

.footer--secondary {
  margin-top: 6rem;
  text-align: center;
  opacity: 0.8;
}

.footer--secondary a {
  color: #fff;
  font-weight: 700;
}

.footer--secondary p {
  margin: 0.75rem auto;
}

.section__archive {
  padding: 6rem 0;
}

.section__archive .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
  .section__archive .container {
    flex-direction: row;
  }
}

.section__archive .section-header {
  margin-bottom: 4.5rem;
}

.archive__article {
  display: flex;
  flex-direction: row;
  margin: 2.25rem 0 0;
}

@media screen and (min-width: 720px) {
  .archive__article {
    align-items: center;
    flex: 0 0 calc(33.33% - 3rem);
    flex-direction: column;
    margin: 0 1.5rem 4.5rem;
  }
}

.archive__article:nth-child(3) .archive__title::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="241.6" height="8" viewBox="0 0 241.6 8"><path d="M234.6 3c-20.2.6-41.4-.6-61.7-1l-56.7-.9C79 .7 41.9.4 4.7 0c-7.2-.1-5.5 4.8.8 4.9 38.7.4 77.4.7 116.1 1.2l58.9.9c19.2.3 38.5 1.4 57.6.8 6.4-.1 3.2-5-3.5-4.8z"/></svg>');
}

.archive__article:nth-child(4) .archive__title::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="270.6" height="10.7" viewBox="0 0 270.6 10.7"><path d="M4.2 6.2c22.9-2.6 45.7.7 68.6.7 22.7 0 45.2 1.2 67.9 1 21.4-.2 42.5 3.8 63.9 2.7 19.2-1 38.2-2.4 57.4-2.3 2.1 0 12.7-4.9 6.9-5.3-2-.2-4-.3-6-.5-2.5-.2-13.9 4.8-8.2 5.3 2 .2 4 .3 6 .5 2.3-1.8 4.6-3.5 6.9-5.3-19.2-.2-38.2 1.3-57.4 2.3-22.6 1.1-45.2-2.9-67.8-2.6-22.6.2-45.1-.9-67.7-1-22.7-.1-45.1-3-67.9-.4C2 1.6-4.3 7.1 4.2 6.2z"/></svg>');
}

.archive__image {
  flex: 0 0 30%;
  margin-right: 1.5rem;
}

.archive__image img {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .archive__image {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}

@media screen and (min-width: 720px) {
  .archive__text {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .archive__text .button {
    margin-top: auto;
    margin-right: auto;
  }
}

.archive__title {
  font-size: 1.5625em;
  font-family: "Mukta";
  letter-spacing: 0;
  text-transform: none;
}

.page-title {
  font-size: 3.0517578125em;
  text-align: center;
  margin: 1.5rem 0;
}

.page-title::after {
  display: block;
  content: "";
  height: 1.5rem;
  width: 60%;
  margin: 0.75rem auto 1.5rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="495.3" height="12.8" viewBox="0 0 495.3 12.8"><path d="M7.7 7.9c41.7-3.4 83.8.7 125.8.5 41.5-.1 83 1.4 124.4.9C297 9 336.2 14 375.2 12.5c35-1.4 69.8-3.2 104.9-3.1 3.8 0 22.7-6.2 12-6.8-3.7-.1-7.4-.4-11.1-.5-4.6-.3-24.9 6.2-14.4 6.8 3.7.1 7.4.4 11.1.5 4-2.3 8-4.5 12-6.8-35.1-.4-69.7 1.6-104.8 3-41.3 1.6-83-3.4-124.5-3-41.3.4-82.7-.9-124.1-.9C94.7 1.6 53.5-1.9 12 1.5c-8.7.6-19.7 7.7-4.3 6.4z"/></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.page-content {
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.page-image-container {
  background-color: #D3DBDC;
  padding-top: 1px;
  margin-top: 3rem;
}

.page-image-container img {
  margin-top: -1.5rem;
  display: block;
}

.page-body img {
  display: block;
  margin: 1.5rem 0;
}

.page-body p:first-child {
  font-size: 1.5625em;
  margin: 1.5rem 0;
  font-weight: 600;
}

.page-body h2,
.page-body h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.page-body h2 {
  font-size: 1.5625em;
}

.page-body h3 {
  font-family: "Mukta";
  font-weight: 700;
  text-transform: none;
}

.ideas-link {
  margin-top: 1.5rem;
  background-color: #42747e;
}

#commento input {
  margin-bottom: 0;
}

.funders--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.funders--item {
  text-align: center;
  margin: 0.75rem;
  box-shadow: 0 3rem 3rem -1.5rem rgba(0, 0, 0, 0.12) !important;
  border: 1px solid #D3DBDC;
  padding: 0.75rem 0.75rem 1.5rem;
  background-color: #fff;
  flex: 1 1 40%;
}

@media screen and (min-width: 1120px) {
  .funders--item {
    flex: 1 1 25%;
  }
}

.funders--item .funders--item--image {
  margin: 0;
}

.funders--item .funders--item--title {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

