---
layout: layouts/base.njk
---
<section class="section__home-hero">
  <div class="container">
    <h1 class="home-hero__title">
      {{ site.description  }}
    </h1>
    {% if home.hero.link.text %}<div class="home-hero__link"><a class="line" href="{{ home.hero.link.url }}">{{ home.hero.link.text }}</a></div>{% endif %}
    {% include "zero.svg" %}
  </div>
</section>

<section class="section__home-intro" id="home-intro">

  <h2 class="section-title section-title__large">{{ home.intro.title }}</h2>
  {% if home.intro.subtitle %}<p class="section-subtitle">{{ home.intro.subtitle}}</p>{% endif %}

  <div class="container">
    <div class="intro__copy">
      <h2 class="intro__title">{{ home.intro.headline }}</h2>
      {{ home.intro.description | markdownify | safe }}
    </div>

    <div class="intro__projects" id="home-projects">
      {% for project in home.projects %}
        <div class="intro__project">
          <h3 class="project__title">{{ project.title }}</h3>
          <p class="project__description">{{ project.description }}</p>
          {% if project.link.url %}
            <a class="read-more" href="{{ project.link.url }}">
            {% if project.link.text %}
              {{ project.link.text }}
            {% else %}
              Find out more
            {% endif %}
            </a>
          {% else %}
            <a class="read-more">More info coming soon</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>



<section class="section__home-ideas" id="home-ideas">
  <div class="container">
    {% include "lightbulb.svg" %}
    <div class="ideas__text">
      <h2 class="section-title">{{ home.ideas.title | nl2br | safe }}!</h2>
      {{ home.ideas.description | markdownify | safe}}
      <a class="button button__large button__inverted type-4" href="{{ home.ideas.link.url }}">{{ home.ideas.link.text }}</a>
    </div>
  </div>
</section>


<section class="section__home-tips" id="home-tips">
  <h2 class="section-title section-title__large">{{ home.tips.title }}</h2>
  {% if home.tips.subtitle %}<p class="section-subtitle">{{ home.tips.subtitle}}</p>{% endif %}

  <div class="container">
    {%- for tip in collections.tags | reverse | limit(4) -%}
    <a class="home-tips__article" href="/tag/{{ tip.data.slug }}">
      <div class="home-tips__image">
        {% srcset tip.data.image, tip.data.image_alt, null, 300, 200, "(min-width: 1120px) 300px, 25vw" %}
      </div>
      <div class="home-tips__text">
        <h3 class="home-tips__title">{{ tip.data.title }}</h3>
        <img class="home-tips__icon" src="{{ tip.data.icon}}">
        <p>{{ tip.data.intro }}</p>
      </div>
    </a>
    {%- endfor -%}
  </div>
  <div class="align-center">
      <a href="/tips/" class="button_alt button_alt__large">See all of our tips</a>
  </div>
</section>


<section class="section__home-supporters" id="home-supporters">
  <div class="container">
    {% include "supporters.svg" %}
    <div class="hire__text">
      <h2 class="section-title">{{ home.supporters.title | nl2br | safe }}</h2>
      {{ home.supporters.description | markdownify | safe}}
      <a class="button button__large button__inverted type-4" href="{{ home.supporters.link.url }}">{{ home.supporters.link.text }}</a>
    </div>
  </div>
</section>

<section class="section__home-pipeline" id="home-pipeline">

  <h2 class="section-title section-title__large">{{ home.get_involved.title }}</h2>
  {% if home.get_involved.subtitle %}<p class="section-subtitle">{{ home.get_involved.subtitle}}</p>{% endif %}

  <div class="container">
    {% for pipeline in collections.pipeline | reverse | limit(3) -%}
      <a href="{{ pipeline.url }}" class="pipeline__item">
        <div class="pipeline__image">
          {% srcset pipeline.data.image, collections.pipeline[0].data.image_alt, "thinking__item__image", 360, 202, "(min-width: 1120px) 310px, 30vw" %}
        </div>
        <div class="pipeline__text">
          <h3 class="pipeline__title">{{ pipeline.data.title }}</h3>
          <p>{{ pipeline.templateContent | striptags | truncate(80) | safe }}</p>
          <div class="pipeline__footer">
            <span class="read-more" href="{{ pipeline.url }}">Read more</span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

</section>

<section class="section__home-hire" id="home-hire">
  <div class="container">
    {% include "hire.svg" %}
    <div class="hire__text">
      <h2 class="section-title">{{ home.hire.title | nl2br | safe }}</h2>
      {{ home.hire.description | markdownify | safe}}
      <a class="button button__large button__inverted type-2" href="{{ home.hire.link.url }}">{{ home.hire.link.text }}</a>
    </div>
  </div>
</section>

<section class="section__home-thinking" id="home-thinking">
  <h2 class="section-title section-title__large">{{ home.blog.title }}</h2>
  {% if home.blog.subtitle %}<p class="section-subtitle">{{ home.blog.subtitle}}</p>{% endif %}

  <div class="container">
    {% set featuredPost = collections.posts | reverse | first %}

    <a href="{{ featuredPost.url }}" class="thinking__featured-item">
      <div class="thinking__item__image">
          {% srcset featuredPost.data.image, featuredPost.data.image_alt, "thinking__item__image", 640, 360, "(min-width: 1120px) 536px, 100vw" %}
      </div>
      <h3 class="thinking__item__title">{{ featuredPost.data.title }}</h3>
      <p>{{ featuredPost.templateContent | striptags | truncate(160) | safe }}</p>
      <span class="read-more" href="{{ featuredPost.url}}">Learn more</span>
    </a>

    <div class="thinking__sidebar">
      {% for post in collections.posts | reverse | slice(1,4) -%}
        <a href="{{ post.url }}" class="thinking__item">
          <div class="thinking__item__image">
            {% srcset post.data.image, featuredPost.data.image_alt, "thinking__item__image", 240, 240, "(min-width: 1120px) 172px, 30vw" %}
          </div>
          <div class="thinking__item__text">
            <h3 class="thinking__item__title">{{ post.data.title }}</h3>
            <p>{{ post.templateContent | striptags | truncate(75) | safe }}</p>
            <span class="read-more">Learn more</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="align-center">
    <a href="/blog/" class="button_alt button_alt__large">See more of our thinking</a>
  </div>
</section>