---
layout: layouts/base.njk
title: Home
---
<section class="section__home-hero">
  <div class="container">
    <h1 class="home-hero__title">
      {{ home.title }}
    </h1>
    {% include "zero.svg" %}
  </div>
</section>

<section class="section__home-intro">
  <div class="container">
    <div class="intro__copy">
      <h2 class="intro__title">{{ home.intro.title }}</h2>
      {{ home.intro.description | markdownify | safe }}
    </div>

    <div class="intro__projects">
      {% for project in home.projects %}
        <div class="intro__project">
          <h3 class="project__title">{{ project.title }}</h3>
          <p class="project__description">{{ project.description }}</p>
          {% if project.link %}
            <a class="button type-{{ loop.index }}" href="{{ project.link }}">Find out more</a>
          {% else %}
            <a class="button type-{{ loop.index }}">More info coming soon</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section__home-pipeline">

  <h2 class="section-title">In the pipeline&hellip;</h2>

  <div class="container">
      {% set latest_pipeline = collections.pipeline.reverse()[0] %}
      <div class="pipeline__item pipeline__item--featured">
        <div class="pipeline__image">
          {% respimg latest_pipeline.data.image, latest_pipeline.data.image_alt, "thinking__item__image", 640, 360, "(min-width: 1120px) 690px, (min-width: 720px) 66vw, 50vw" %}
        </div>
        <div class="pipeline__text">
          <div class="pipeline__item__count">01</div>
          <h3 class="pipeline__title">{{ latest_pipeline.data.title }}</h3>
          <p>{{ latest_pipeline.data.intro }}</p>
          <a class="button type-3" href="{{ latest_pipeline.url }}">Add your ideas</a>
        </div>
      </div>

      <div class="pipeline__sidebar">
        <div class="pipeline__item pipeline__item--suggest">
          <div class="pipeline__image">
            {% include "lightbulb.svg" %}
          </div>
          <div class="pipeline__text">
            <h3 class="pipeline__title">Have an idea?</h3>
            <p>If there’s an issue in Leeds you think we should look into, <a href="#">tell us about it</a>.</p>
          </div>
        </div>
        {% for pipeline in collections.pipeline.reverse().slice(1,3) -%}
        <div class="pipeline__item">
          <div class="pipeline__image">
            {% respimg pipeline.data.image, collections.pipeline[0].data.image_alt, "thinking__item__image", 360, 202, "(min-width: 1120px) 310px, 30vw" %}
          </div>
          <div class="pipeline__text">
            <h3 class="pipeline__title">{{ pipeline.data.title }}</h3>
            <div class="pipeline__footer">
              <a class="button type-{{loop.index}}" href="{{ pipeline.url }}">Add your ideas</a>
              <div class="pipeline__item__count">0{{ loop.index + 1 }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

  </div>
</section>


<section class="section__home-tips">
  <h2 class="section-title">Ways to waste less in Leeds</h2>

  <div class="container">
    {% for tip in collections.tips.reverse().slice(0,3)-%}
    <div class="home-tips__article">
      <div class="home-tips__image">
        {% respimg tip.data.image, tip.data.image_alt, null, 300, 300, "(min-width: 1120px) 300px, 25vw" %}
      </div>
      <div class="home-tips__text">
        <h3 class="home-tips__title">{{ tip.data.title }}</h3>
        <p>{% excerpt tip %}</p>
        <a class="button type-{{loop.index + 2}}" href="{{ tip.url }}">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="section__home-hire">
  <div class="container">
    {% include "hire.svg" %}
    <div class="hire__text">
      <h2 class="section-title">{{ home.hire.title | nl2br | safe }}</h2>
      {{ home.hire.description | markdownify | safe}}
      <a class="button button__large button__inverted type-2" href="{{ home.hire.link.url }}">{{ home.hire.link.text }}</a>
    </div>
  </div>
</section>

<section class="section__home-thinking">
  <h2 class="section-title">Our thinking</h2>

  <div class="container">
    {% set featuredPost = collections.posts | reverse | first %}
    <div class="thinking__featured-item">
      <div class="thinking__item__image">
        {% respimg featuredPost.data.image, featuredPost.data.image_alt, "thinking__item__image", 640, 360, "(min-width: 1120px) 536px, 100vw" %}
      </div>
      <h3 class="thinking__item__title">{{ featuredPost.data.title }}</h3>
      <p>{{ featuredPost.templateContent | striptags | truncate(120) }}</p>
      <a class="button type-5" href="{{ featuredPost.url}}">Learn more</a>
    </div>
    <div class="thinking__sidebar">
      {% for post in collections.posts.reverse().slice(1,4) -%}
      <div class="thinking__item">
        <div class="thinking__item__image">
          {% respimg post.data.image, featuredPost.data.image_alt, "thinking__item__image", 320, 240, "(min-width: 1120px) 172px, 30vw" %}
        </div>
        <div class="thinking__item__text">
          <h3 class="thinking__item__title">{{ post.data.title }}</h3>
          <p>{{ post.templateContent | striptags | truncate(60) }}</p>
          <a class="button type-{{loop.index + 1}}" href="{{ post.url }}">Learn more</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>