<section class="section__home-join">
  <div class="container">
    {% include "join.svg" %}
    <div class="join__text">
      <h2 class="section-title">Join our movement!</h2>
      <p>Every step of our journey we’re uncovering more people in Leeds who are curious, serious or passionate about reducing their waste. If you’re one of those people, join us.</p>
      <form class="join__form">
        <input type="text" placeholder="Enter your email">
        <input type="submit" value="Join us" class="button button__large type-4" href="mailto:info@zerowasteleeds.org.uk">
      </form>
    </div>
  </div>
</section>