<header class="site-header">
  <div class="container container__wide">
    <a class="site-header--home-link" href="/">{% include 'logo.svg'%}</a>
    {% include "partials/social.njk" %}
  </div>
</header>